
services:

  mongodb:
    image: mongo:latest 
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  web:
    build: . 
    container_name: todo-flask-app
    ports:
      - "5000:5000"
    environment:
      MONGO_HOST: mongodb
      MONGO_PORT: 27017
    depends_on:
      - mongodb 
volumes:
  mongo-data: