apiVersion: apps/v1
kind: Deployment
metadata:
  name: flask-todo-deployment
  labels:
    app: todo-app
    tier: frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: todo-app
      tier: frontend
  strategy: 
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: todo-app
        tier: frontend
    spec:
      containers:
      - name: flask-todo
        image: pavithra22rajan/todo-app:v2
        ports:
        - containerPort: 5000
        env:
          - name: MONGO_HOST
            value: "mongodb-service" 
          - name: MONGO_PORT
            value: "27017"